#page-dashboard {
    background-image: none;
}

.nav-icon-center {
    margin: 13px 6px 12px 15px;
    float: left;
}

/* Nav Bottom */

.nav-bottom {
    position: absolute;
    bottom: 10px;
    padding-left: 20%;
    width: 200px;
}

.nav-button-bottom {
    color: #C0D3C8;
    height: 50px;
    line-height: 50px;
    margin: 5px 0;
}

.nav-button-bottom:hover {
    text-decoration: underline;
}

.button-nav-bottom {
    color: #C0D3C8;
}

/* HEADER */
.header-notifications {
    cursor: pointer;
}

.header-username-image,
#image-user {
    height: 40px;
}

.header-username-text {
    width: 100px;
    text-align: center;
}

/* MAIN */

.transition-bg {
    transition: background-color 0.1s ease-in-out;
}

.group-card:hover {
    background-color: rgba(var(--bs-secondary-bg-rgb)) !important;
}